$bg-color: #1F555D;
$button-color: #63888E;
$button-hover-color: rgb(72, 137, 150);
html {
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: $bg-color;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@mixin default-circle($radius, $bg-color) {
    position: absolute;
    width: $radius;
    height: $radius;
    overflow: hidden;
    z-index: -1;
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: $bg-color;
    }
}

#greenCircle {
    @include default-circle(442px, #699259);
    top: 0;
    left: 0;
}

#greenCircle::before {
    transform: translate(-20px, -154px);
}

#blueCircle {
    @include default-circle(382px, #2C7180);
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: calc(100% - 904px);
    bottom: 0;
}

#blueCircle::before {
    transform: translateY(172px);
}

#purpleCircle::before {
    transform: translateX(180px);
}

#purpleCircle {
    @include default-circle(609px, #674D97);
    top: 192px;
    right: 0;
}

#pinkCircle {
    @include default-circle (137px, #B87F9D);
    top: 103px;
    right: 0;
}

#pinkCircle::before {
    transform: translateX(61px);
}

#mainPage {
    display: block;
    position: relative;
    top: 20vh;
    text-align: center;
    h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 100px;
        @media screen and (max-width: 992px) {
            font-size: 10vw;
        }
    }
}

.button {
    width: 154px;
    height: 58px;
    font-size: 20px;
    @media screen and (max-width: 1500px) {
        width: 84px;
        height: 38px;
        font-size: 14px;
    }
    background-color: $button-color;
    border: 0;
    color: white;
    &:hover {
        border: 3px solid white;
        background-color: $button-hover-color;
        font-weight: bold;
    }
}

.mainPageHide {
    transition: all 500ms ease-in-out;
    top: 0 !important;
    opacity: 0;
    height: 0;
}

#gamePage {
    position: relative;
    top: 100vh;
    margin: auto;
    opacity: 0;
}

.gamePageShow {
    transition: all 500ms ease-in-out;
    top: 5vh !important;
    opacity: 1 !important;
    height: 90vh;
}

.cardContainer {
    font-size: 0;
    min-height: 90vh;
    min-width: 90vh;
    @media screen and (max-width: 1500px) {
        min-height: 0;
        height: 45vw;
        min-width: 45vw;
    }
    background-color: $button-color;
    border: 3px solid white;
    padding: 5px;
    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    transform: rotateY(180deg);
}

.gameCardPlace {
    cursor: pointer;
    display: inline-block;
    border: 3px solid white;
    margin: 5px;
    width: calc((100% - 60px)/6);
    height: calc((100% - 60px)/6);
    transition: transform 0.8s, visibility 0.8s;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.gameCardPlaceInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    img {
        width: 100%;
        height: 100%;
    }
}

.gameCard-front {
    transform: rotateY(180deg);
    position: absolute;
    backface-visibility: hidden;
}

.gameCard-back {
    position: absolute;
    backface-visibility: hidden;
    img {
        transform: rotateY(180deg);
    }
}

.infoContainer {
    height: 90vh;
    min-width: 450px;
    margin-left: 55px;
    @media screen and (max-width: 1500px) {
        margin-left: 5px;
        height: 40vw;
        min-width: 40vw;
    }
}

.animalPicContainer {
    height: 40vh;
    width: 40vh;
    @media screen and (max-width: 1500px) {
        height: 20vw;
        width: 20vw;
    }
    margin: auto;
}

.animalPicWrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 3px solid white;
    overflow: hidden;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.animalInfoContainer {
    padding: 0 20px;
    line-height: 1.25;
    @media screen and (max-width: 1500px) {
        font-size: 14px;
    }
    text-align: justify;
}

#nameContainer {
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
    @media screen and (max-width: 1500px) {
        font-size: 16px;
    }
}

#latin {
    padding-left: 1rem;
    font-style: italic;
}

.timerContainer {
    font-size: 30px;
    @media screen and (max-width: 1500px) {
        font-size: 24px;
    }
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.buttonContainer {
    text-align: center;
    button {
        margin: 5px 15px;
    }
}

.victoryScreenBg {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
}

.victoryScreen {
    display: none;
    width: 500px;
    height: 250px;
    background-color: $bg-color;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 20px;
    button {
        margin: 10px 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}

.victoryText {
    padding: 10px;
    font-size: 24px;
    text-align: center;
}