* {
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  color: white;
  background: #292929;
}

@media screen and (max-width: 576px) {
  .container,
  .flex-row,
  .d-flex {
    padding: 0;
    margin: 0;
  }
}

.form {
  max-width: 325px;
  margin: 20px auto;
}

.form-inline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: auto;
}

.form-inline input {
  margin: 10px;
}

.form-control {
  color: white;
  background: unset;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
}

.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100;
}

.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100;
}

.form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100;
}

.form-control:focus {
  color: white;
  font-weight: 600;
  background: unset;
  border: 1px solid white;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.form-control:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-control:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-control:focus::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-control:focus::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.btn {
  height: calc(1.5em + .75rem + 2px);
}

.btn:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

#error {
  width: 100%;
  margin-left: 20px;
}

.weatherInfo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.cityInfo {
  width: 30%;
  padding-left: 5%;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .cityInfo {
    padding-left: 0;
  }
}

.city {
  font-size: 36px;
}

@media screen and (max-width: 576px) {
  .city {
    font-size: 22px;
  }
}

.weatherTemps {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  width: 30%;
}

.temperature {
  font-size: 60px;
}

@media screen and (max-width: 576px) {
  .temperature {
    font-size: 42px;
  }
}

.tempMinContainer,
.tempMaxContainer {
  padding: 0 30px;
  display: inline-block;
}

@media screen and (max-width: 992px) {
  .tempMinContainer,
  .tempMaxContainer {
    padding: 3px 5px;
  }
}

.tempMinContainer span,
.tempMaxContainer span {
  padding: 3px;
}

@media screen and (max-width: 576px) {
  .tempMinContainer span,
  .tempMaxContainer span {
    padding: 0;
  }
}

.weatherDesc {
  text-align: center;
  width: 30%;
  padding-right: 4%;
}

@media screen and (max-width: 576px) {
  .weatherDesc {
    padding-right: 0;
  }
}

.weatherText {
  display: block;
  text-align: center;
}

.weatherText::first-letter {
  text-transform: uppercase;
}

.additionalInfo {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 576px) {
  .additionalInfo {
    margin-top: 15px;
  }
}

.infoContainer {
  width: 30%;
  height: 80px;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 20px;
}

.icons {
  font-size: 36px;
  margin: auto;
}

.forecastElems {
  width: 100%;
  text-align: center;
}

.forecastTime {
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .forecastTime {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .forecastImgContainer {
    width: 25px;
    height: 25px;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .forecastImgContainer img {
    width: 100%;
  }
}

.forecastDesc {
  display: inline-block;
}

.forecastDesc::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .forecastDesc {
    font-size: 12px;
  }
}

.forecastTemp {
  font-size: 24px;
}

@media screen and (max-width: 576px) {
  .forecastTemp {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */